<!DOCTYPE html>
<html>
	<head>
	  <title>Futureyou</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<% flash.each do |name, msg| %>
		  <% if msg.is_a?(String) %>
		    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
		    	<div class="container">
			      <%= content_tag :div, msg, :id => "flash_#{name}" %>
		    	</div>
		    </div>
		  <% end %>
		<% end %> 
		<p><%= link_to "login", new_user_session_path %></p>

		<%= yield %>

	</body>
</html>
